.col{
	background-color: orange;
	border: 2px solid blue;
}

.logo{
	margin-right: 10px;
}

.navbar-brand{
	padding-right: 0px;
}
/*
.container{
	margin-left: 100px;
	margin-right: 100px;
}*/

.nav-item-text{
	text-align: center;
}